doctype html
html
  head
    meta(charset="utf-8")
    title #{title}
    meta(content="" name="description")
    meta(content="" name="keywords")
    meta(content="width=device-width, initial-scale=1" name="viewport")
    meta(content="ie=edge" http-equiv="x-ua-compatible")
    link(rel='stylesheet' href='/styles/styles.min.css')

  body
    mixin socials(path, link)
      li.welcome-block__item
        a.welcome-block__link(href=link target="blank")
          svg.icon
            use(xlink:href=path)

    block sprite
    +socials('./img/sprite.svg#vk', '#')
    include ./includes/_body
  
    script(src="scripts/bundle.js")

    